:root {

    --bg-color: #E9E7E5;
    --typo-main: "Lobster";
    --typo-secondary: "Montserrat";
    --main-color: #588157;
    --secondary-color: #354E41;

}

h1,
h2,
h3 {
    font-family: var(--typo-main);
    font-size: 2.5rem;
    letter-spacing: 3px;
}

body{
    background-color: var(--bg-color);
    font-family: var(--typo-secondary);
}


